<nav class="navbar navbar-expand-lg navbar-custom">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand" routerLink="/home">
        <span class="hawk">PREDICT</span><span class="er">IT</span>
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto nav-items">
          <li class="nav-item first-element">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item middle-element">
            <a class="nav-link" href="/guidelines">Guidelines</a>
          </li>
          <!-- <li class="nav-item middle-element">
            <a class="nav-link" routerLink="./about">Pricing</a>
          </li>  -->
          <li class="nav-item last-element" routerLinkActive="active">
            <a class="nav-link" routerLink="/about"> About us</a>
          </li>
  
        </ul>
        <!-- Left links -->
  
        <div class="btn-position">
          <!-- <button type="button" class="btn btn-primary btn-white me-3" routerLink="/login">
            Login
          </button> -->
          <button type="button" class="btn btn-primary btn-yellow me-3" routerLink="">
            Logout
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <!-- Guidelines section -->

  <div class="container container-guidelines">
    <h1 class="mt-5 title">GUIDELINES FOR USING PREDICT IT</h1>
    <hr>
    <ul>
        <div class="list">
            <li class="list-group-item list-content"> 1. Upload your file (in csv or excel format )</li>
            <li class="list-group-item  list-content">2. Select the Periodicity (Frequency of recurring events over time, i.e daily,monthly.. ) </li>
            <li class="list-group-item  list-content">3. Select the Numerix (The numerics related periodicity)</li>
            <li class="list-group-item  list-content">4. Upload</li>
            <li class="list-group-item  list-content">5. See your prediction graph</li>
            <li class="list-group-item  list-content">6. Click on trends to see the seasonality trends </li>
            <li class="list-group-item  list-content">7. Also you can see the predicted data sets </li>
            <li class="list-group-item  list-content">8. Enjoy your prediction :) </li>
        </div>

    </ul>

</div>

<!-- Footer -->
<footer class="text-center text-lg-start footer-background text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
  
        <a href="https://www.instagram.com/anirudh___21/" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/anirudh-j-3457611a0/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
  
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Predict It
            </h6>
            <p>
              Predict the future sales of your business
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>Anirudh J</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              anirudhjay2105@gmail.com
            </p>
            <p><i class="fas "></i>Feel Free to connect with me :) </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
  </footer>